.aboutus-page {
  text-align: left !important;
  padding-top: 1.5rem !important;
  width: 100%;
  font-family: "Roboto", sans-serif !important;
}

.about-hero {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: 16rem;
  overflow: hidden;
  font-family: "roboto-bold", sans-serif;
}

.about-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-hero .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(13, 42, 148, 0.5);
}

.about-hero .hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.about-hero .hero-content h1 {
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 500;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .about-hero {
    height: 24rem;
  }

  .about-hero .hero-content h1 {
    font-size: 3rem;
  }
}

.aboutus-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;
  margin: 2rem auto;
  margin-bottom: 30px;
  max-width: 1280px;
  padding: 0 1rem;
}

.aboutus-page p {
  font-family: "Roboto", sans-serif !important;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
}

@media (min-width: 768px) {
  .aboutus-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

.aboutus-video-btn button {
  position: absolute;
  right: 0;
  display: table;
  left: 64%;
  top: 47%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  z-index: 3;
}

@media (max-width: 768px) {
  .aboutus-video-btn button {
    position: absolute;
    right: 0;
    display: table;
    left: 62%;
    top: 48%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    z-index: 3;
  }
}

.aboutus-cards {
  margin-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.aboutus-cards h2 {
  text-align: center;
  font-size: 2rempx;
  font-weight: 600;
  margin-bottom: 40px;
  color: #212529;
  margin-bottom: 50px;
}

.ml-auto-important {
  text-align: center !important;
}

.cards-grid {
  display: grid;
  gap: 24px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }
}

@media (min-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1400px;
  }
}

@media (min-width: 1440px) {
  .cards-grid {
    max-width: 1600px;
  }
}

.aboutus-card {
  background-color: #ffffff;
  border: 1px solid #a5b1a5;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.aboutus-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
  margin: 0 auto 12px;
  border-radius: 8px;
}

.aboutus-card-title {
  font-size: 15.5px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 6px;
}

.aboutus-card-text {
  font-size: 13.8px;
  line-height: 1.6;
  color: #4b5563;
  margin: 0;
}

@media (min-width: 1024px) {
  .aboutus-card-title {
    font-size: 20px;
  }

  .aboutus-card-text {
    font-size: 14.5px;
  }
}

.our-team {
  padding: 30px 0px;
  background-color: #ffffff;
}

.our-team h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

.our-team p {
  text-align: start;
}

@media (max-width: 768px) {
  .our-team p {
    text-align: center;
  }

  .aboutus-page p {
    text-align: center;
  }
  .aboutus-container h2 {
    text-align: center;
  }
}

.team-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.team-card {
  border: 1px solid #cfd8cc;
  border-radius: 16px;
  height: 300px;
  overflow: hidden;
  background: #fff;
}

.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .team-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .team-cards {
    grid-template-columns: 1fr;
  }
}
